page-detail-during {

    .navbar{
        display: flex;
        justify-content: space-between;
        button{
            flex:0.1;
            background-color: #062181!important;
            ion-icon{
                color: white;
            }
        }
        div{
            flex:1.8;
        }
    }

    .header_div{
        padding: 1%;
        background-color: #062181!important;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .toolbar-background-md{
          background-color: #062181!important;
          color: white;
        }

        h1{
            margin:0;
            padding: 0 2%;
        }

    }

    .map_div{
        text-align: center;
    }

    .step_div{
        text-align: center;

        .step{
            display: flex;
            justify-content: center;
            padding: 1%;
            align-items: center;
            margin: 0 2%;
            .number{
                border: 1px solid #062181;
                border-radius: 50%;
                background-color: #062181;
                padding: 0.5% 0.8%;
                margin: 0 1%;
                color: white;
            }
        }
    }
}
