page-detail-before {

    .header_img{
        //width: 100%;
        height: 38vh;
    }

    .div_img{
        display: flex;
        height: 38vh;
        justify-content: center;
        background-color: lightgray;

        .hiking_img{
            width: 50vw;
        }
    }

    h1{
        text-align: center;
    }

    .hiking_data{
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
        font-size: 18px;
        justify-content: space-between;
        div{
            padding: 1%;
        }

        .description_text{
            font-size: 14px;
        }
    }

    .inline_div{
        display: flex;
        justify-content: center;
        .button{
            text-align: center;
        }
    }

    .map_div{
        text-align: center;
        height: 10vh;
        margin-top: 5%;
    }

     .navbar{
        position: absolute;
        top: 2%;
        left: 2%;
        button{
            background-color: transparent;
            ion-icon{
                color: black;
            }
        }
    }

}
