<div>
<agm-map #map id="map" [latitude]="currentLatitude" [longitude]="currentLongitude">
<agm-marker *ngIf="currentLatitude && currentLongitude" [latitude]="currentLatitude" [longitude]="currentLongitude"></agm-marker>
  <agm-marker *ngFor="let m of markers"
             [label]="{
                      color: 'white',
                      fontWeight: 'bold',
                      text: m.number
                      }"
             [iconUrl]="urlBlueMarker"  [latitude]="m.latitude" [longitude]="m.longitude"></agm-marker>

  <span *ngIf="!useDirection">
     <agm-polyline 
       [visible]="true"
       [strokeWeight]="3"
       [strokeColor]="'#062181'">
        <agm-polyline-point
          *ngFor="let coordinate of markers; let i=index"
          [latitude]="coordinate.latitude"
          [longitude]="coordinate.longitude">

        </agm-polyline-point>
      </agm-polyline></span>
      
      <span *ngIf="useDirection">
      <agm-direction *ngFor="let dir of dirs" [renderOptions]="renderOpts" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
      </span>

</agm-map>

<button *ngIf="navigationMode" ion-button round class="direction_button" [ngClass]="{'useDirection' : !useDirection}" (click)="changeMode()">Direction</button>

</div>