map-component {
    
    agm-map {
        height: 300px;
    }

    .direction_button{
        background-color: #333;
        color: white;
        border-radius: 5%;
        padding: 1.5%;
        position: absolute;
        top: 15%;
        left: 2%;
    }

    .useDirection{
        opacity: 0.7;
    }  
}
